language: julia

codecov: true
coveralls: true

os:
  - linux

julia:
  - 1.3
  - 1.4
  - nightly

cache:
  directories:
    - $HOME/.julia/registries

script:
  - mpichversion
  - julia -e 'using InteractiveUtils;
              versioninfo()'
  # Force precompilation of packages in serial mode.
  # Otherwise, if precompilation runs in parallel, there may be race
  # conditions...
  - julia --project=@. -e 'import Pkg;
                           Pkg.instantiate();
                           using PencilFFTs'
  - julia --project=@. --color=yes -e 'import Pkg; Pkg.test(coverage=true)'

jobs:
  allow_failures:
    - julia: nightly
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip

# https://docs.travis-ci.com/user/installing-dependencies/
before_install:
  - sudo apt-get -y install mpich libmpich-dev

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; data = process_folder(); Codecov.submit(data); Coveralls.submit(data)'

addons:
  apt:
    update: true  # runs apt-get update

notifications:
  email: false

# vim: shiftwidth=2
