language: julia

os:
  - linux

julia:
  - 1.2
  - nightly

jobs:
  allow_failures:
    julia: nightly
  include:
    - stage: "Documentation"
      julia: 1.2
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip

# vim: shiftwidth=2
