name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags: '*'

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        experimental: [false]
        version:
          - '1.8'
          - '1.9'
        os:
          - ubuntu-latest
        arch:
          - x64
        include:
          - version: 'nightly'
            os: ubuntu-latest
            arch: x64
            experimental: true

    steps:
      - uses: actions/checkout@v3

      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

      - uses: julia-actions/cache@v1
        with:
          cache-registries: "true"

      - name: Precompile
        shell: julia --color=yes --project=. {0}
        run: |
          using Pkg
          using InteractiveUtils
          versioninfo()
          pkg"instantiate"
          pkg"precompile"
          using MPI
          println("\n", MPI.MPI_LIBRARY_VERSION_STRING)

      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1

      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v3
        with:
          files: lcov.info

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Install libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y mpich libmpich-dev
          # For GLMakie (adapted from https://github.com/JuliaPlots/Makie.jl/blob/master/.github/workflows/glmakie.yaml)
          sudo apt-get install -y xorg-dev mesa-utils xvfb libgl1 freeglut3-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libxext-dev ffmpeg

      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1.9'

      - name: Add MPIPreferences
        shell: julia --color=yes --project=. {0}
        run: |
          using Pkg
          Pkg.add("MPIPreferences")

      - name: Use system MPI
        shell: julia --color=yes --project=. {0}
        run: |
          using MPIPreferences
          MPIPreferences.use_system_binary()

      - name: Install dependencies
        run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'
      - name: Makie cache
        # This is to avoid "generating font cache" on multiple MPI processes,
        # which likely leads to race conditions when writing cache to file.
        run: |
          xvfb-run -s '-screen 0 1200x600x24' julia --project=docs -e '
            using GLMakie
            fig = Figure()
            ax = Axis(fig[1, 1]; title = "aaa")
            save("test.png", fig)'
      - name: Build and deploy
        # Adapted from https://github.com/JuliaPlots/Makie.jl/blob/master/.github/workflows/glmakie.yaml
        run: xvfb-run -s '-screen 0 1200x600x24' mpirun -n 2 julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}

# vim: shiftwidth=2
